<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Shoppers R Us</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ShoppingCartUI/0">
                <span class="bi bi-cart-fill d-flex align-items-center fs-5" style="color: white;" aria-hidden="true"></span> Shopping Cart
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="UserSettingsUI">
                <span class="bi bi-gear-fill d-flex align-items-center fs-5" style="color: white;" aria-hidden="true"></span> User Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-fill-add d-flex align-items-center fs-5" style="color: white;" aria-hidden="true"></span> Register new User
            </NavLink>
        </div>
    </nav>
</div>

@code{
    
}
