@page "/CheckoutUI"
@using BackEnd
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

<h1>Please input your shipping address and payment info</h1>

<form id="checkout-form">
    <label for="address">Shipping Address</label> <br>
    <input class="form-control" type="text" id="address"> <br>
    <label for="payment">Payment info</label> <br>
    <input class="form-control" type="text" id="payment"> <br>
</form>
    <button class="btn btn-outline-dark" @onclick="SendtoOrderConfirmedPage";>Submit</button>

@code {
    void SendtoOrderConfirmedPage()
    {
        Nav.NavigateTo("/OrderConfirmed");
    }
}