@page "/OrderConfirmed"
@using BackEnd
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Order Confirmed</PageTitle>

<h2>Your order has been processed!</h2>
<h3>We'll update you with the shipping details momentarily.</h3>