@page "/OrderConfirmed"
@using BackEnd
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Order Confirmed</PageTitle>

<h1>Your order has been processed!</h1>
<h2>We'll update you with the shipping details momentarily.</h2>