@page "/ShoppingCartUI"
@using BackEnd
@inject NavigationManager Nav
@rendermode InteractiveServer



<PageTitle>Shopping Home Page</PageTitle>

<h1>Welcome to your shopping cart</h1>

<button @onclick="GoToUserSettingsPage"; style="Position: absolute; left:1400px; top:70px">Profile Settings</button>





@code {
    void GoToUserSettingsPage()
    {
        Nav.NavigateTo("/UserSettingsUI");
    }
}